<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [10]:
%%sql

WITH yearly_cohort AS (
    SELECT
        customerkey,
        EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
        SUM(quantity * netprice * exchangerate) AS total_customer_net_revenue
    FROM sales
    GROUP BY
        customerkey
),

cohort_summary AS (
    SELECT
        cohort_year,
        customerkey,
       total_customer_net_revenue AS customer_ltv,
        AVG(total_customer_net_revenue) OVER (PARTITION BY cohort_year) AS avg_cohort_ltv-- Added
    FROM yearly_cohort
),

cohort_final AS (
    SELECT DISTINCT
        cohort_year,
        avg_cohort_ltv
    FROM cohort_summary
    ORDER BY
        cohort_year
)

SELECT
    *,
    LAG(avg_cohort_ltv) OVER (ORDER BY cohort_year) AS prev_cohort_ltv,
    100 * (avg_cohort_ltv - LAG(avg_cohort_ltv) OVER (ORDER BY cohort_year)) /
        LAG(avg_cohort_ltv) OVER (ORDER BY cohort_year) AS ltv_change
FROM cohort_final

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  avg_cohort_ltv  prev_cohort_ltv  ltv_change
0        2015         5271.59              NaN         NaN
1        2016         5404.92          5271.59        2.53
2        2017         5403.08          5404.92       -0.03
3        2018         4896.64          5403.08       -9.37
4        2019         4731.95          4896.64       -3.36
5        2020         3933.32          4731.95      -16.88
6        2021         3943.33          3933.32        0.25
7        2022         3315.52          3943.33      -15.92
8        2023         2543.18          3315.52      -23.29
9        2024         2037.55          2543.18      -19.88

In [3]:
%%sql
WITH weekly_orders AS(
  SELECT
  DATE_TRUNC('week' , orderdate) AS week,
  COUNT(DISTINCT orderkey) AS total_orders
  FROM sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY week
  ORDER BY week
)
SELECT *
FROM weekly_orders;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

53 rows affected.

                        week  total_orders
0  2022-12-26 00:00:00+00:00            12
1  2023-01-02 00:00:00+00:00           444
2  2023-01-09 00:00:00+00:00           363
3  2023-01-16 00:00:00+00:00           343
4  2023-01-23 00:00:00+00:00           348
5  2023-01-30 00:00:00+00:00           346
6  2023-02-06 00:00:00+00:00           352
7  2023-02-13 00:00:00+00:00           607
8  2023-02-20 00:00:00+00:00           642
9  2023-02-27 00:00:00+00:00           373
10 2023-03-06 00:00:00+00:00           326
11 2023-03-13 00:00:00+00:00           264
12 2023-03-20 00:00:00+00:00           159
13 2023-03-27 00:00:00+00:00            83
14 2023-04-03 00:00:00+00:00            57
15 2023-04-10 00:00:00+00:00            83
16 2023-04-17 00:00:00+00:00           149
17 2023-04-24 00:00:00+00:00           250
18 2023-05-01 00:00:00+00:00           322
19 2023-05-08 00:00:00+00:00           310
20 2023-05-15 00:00:00+00:00           306
21 2023-05-22 00:00:00+00:00           314
22 2023-05-29 00:00:00+00:00           307
23 2023-06-05 00:00:00+00:00           301
24 2023-06-12 00:00:00+00:00           307
25 2023-06-19 00:00:00+00:00           305
26 2023-06-26 00:00:00+00:00           297
27 2023-07-03 00:00:00+00:00           304
28 2023-07-10 00:00:00+00:00           299
29 2023-07-17 00:00:00+00:00           278
30 2023-07-24 00:00:00+00:00           166
31 2023-07-31 00:00:00+00:00           175
32 2023-08-07 00:00:00+00:00           282
33 2023-08-14 00:00:00+00:00           295
34 2023-08-21 00:00:00+00:00           297
35 2023-08-28 00:00:00+00:00           286
36 2023-09-04 00:00:00+00:00           294
37 2023-09-11 00:00:00+00:00           296
38 2023-09-18 00:00:00+00:00           285
39 2023-09-25 00:00:00+00:00           289
40 2023-10-02 00:00:00+00:00           289
41 2023-10-09 00:00:00+00:00           287
42 2023-10-16 00:00:00+00:00           288
43 2023-10-23 00:00:00+00:00           289
44 2023-10-30 00:00:00+00:00           291
45 2023-11-06 00:00:00+00:00           288
46 2023-11-13 00:00:00+00:00           291
47 2023-11-20 00:00:00+00:00           289
48 2023-11-27 00:00:00+00:00           288
49 2023-12-04 00:00:00+00:00           290
50 2023-12-11 00:00:00+00:00           319
51 2023-12-18 00:00:00+00:00           376
52 2023-12-25 00:00:00+00:00           402

In [9]:
%%sql
WITH monthly_revenue AS(
  SELECT
    TO_CHAR(s.orderdate , 'YYYY-MM') AS order_month,
    SUM(s.quantity * s.netprice * s.exchangerate) AS total_customer_net_revenue
  FROM sales s
  WHERE EXTRACT(YEAR FROM s.orderdate) = 2023
  GROUP BY order_month
  ORDER BY order_month
)
SELECT
  *,
  FIRST_VALUE(total_customer_net_revenue) OVER (ORDER BY order_month) AS first_month_revenue,
  LAST_VALUE(total_customer_net_revenue) OVER (ORDER BY order_month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) AS last_month_revenue,
  NTH_VALUE(total_customer_net_revenue , 3) OVER (ORDER BY order_month) AS third_month_revenue
FROM monthly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,order_month,total_customer_net_revenue,first_month_revenue,last_month_revenue,third_month_revenue
0,2023-01,3664431.34,3664431.34,2928550.93,NaN
1,2023-02,4465204.57,3664431.34,2928550.93,NaN
2,2023-03,2244316.52,3664431.34,2928550.93,2244316.52
3,2023-04,1162796.16,3664431.34,2928550.93,2244316.52
4,2023-05,2943005.99,3664431.34,2928550.93,2244316.52
5,2023-06,2864500.03,3664431.34,2928550.93,2244316.52
6,2023-07,2337639.34,3664431.34,2928550.93,2244316.52
7,2023-08,2623919.79,3664431.34,2928550.93,2244316.52
8,2023-09,2622774.85,3664431.34,2928550.93,2244316.52
9,2023-10,2551322.61,3664431.34,2928550.93,2244316.52
10,2023-11,2700103.38,3664431.34,2928550.93,2244316.52
11,2023-12,2928550.93,3664431.34,2928550.93,2244316.52